$toolbar-height: 64px;

button {
    &.show-toolbar {
        position: fixed;
        right: 0;
        margin-right: 20px;
        margin-top: 12px;
        z-index: 99;
    }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

md-spinner {
  max-height: $toolbar-height - 6px;
}
