<section>
  <article>
    <header>
      <h1>Om denne web-siden</h1>
    </header>
    <p>Denne siden er laget av Glenn Greibesland i forbindelse med et prosjekt i faget HTML5 ved NTNU høsten 2017.</p>
    <p>Websiden er laget med <a href="http://www.angular.io">Angular</a>. Kildekoden er å finne <a href="https://github.com/glenngr/ntnu-html5-parkeringsplass-prosjekt">på GitHub</a>.</p>
  </article>
  <article>
    <header>
      <h1>Hjelp</h1>
      <h4>Hvordan bruke denne siden</h4>
    </header>

  </article>
