<md-spinner *ngIf="!trendData"></md-spinner>
<div *ngIf="trendData">
  <h6>Statistikk for {{(trendData | async)?.parkingSpaceName}}</h6>
  <hr>
  <div class="clearfix">
    <span class="date header">Dato/tid</span><span class="occupied-spaces header">Opptatte plasser</span>
    <div class="trend-row" *ngFor="let data of (trendData | async)?.history | reversearray | slice:-20">
      <span class="date">{{data.date | date:'d/M y H:m'}}</span><span class="occupied-spaces">{{data.occupiedSpaces}}</span>
    </div>
  </div>
</div>