<div [class.deep-purple-theme]="theme === 'deep-purple-theme'" [class.dark-theme]="theme === 'dark-theme'" [class.unicorn-dark-theme]="theme === 'unicorn-dark-theme'">
<md-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
  <md-menu #menu="mdMenu">
    <!--<button md-menu-item (click)="map.showParkingSpaceToolbar=true;" *ngIf="!map.showParkingSpaceToolbar">
      <md-icon>view_agenda</md-icon>
      <span>Vis verktøylinjen</span>
    </button>
    <button md-menu-item (click)="map.showParkingSpaceToolbar=false;" *ngIf="map.showParkingSpaceToolbar">
      <md-icon>view_agenda</md-icon>
      <span>Skjul verktøylinjen</span>
    </button>-->
    <button md-menu-item (click)="openThemeDialog()">
      <md-icon>palette</md-icon>
      <span>Velg fargetema</span>
    </button>
  </md-menu>
</md-toolbar>
<app-parking-space-map></app-parking-space-map>
</div>