.sebm-google-map-container {
  height: calc(100vh - 150px);
}
.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
app-parking-space-toolbar {
  .filter-icon {
    margin-right: 10px;
  }
  .mat-icon-button {
    margin: 5px;
  }
}