<sebm-google-map [latitude]="lat" [longitude]="lng" [(zoom)]="mapZoom">
  <gg-map-circle-with-info-window *ngFor="let parkingSpace of parkingSpaces" [latitude]="parkingSpace.lat" [longitude]="parkingSpace.long">
  </gg-map-circle-with-info-window>
  <gg-map-circle-with-info-window *ngFor="let userGeoLoc of userGeoLocation" [latitude]="userGeoLoc.lat" [longitude]="userGeoLoc.long">
  </gg-map-circle-with-info-window>
</sebm-google-map>
<button md-button (click)="onButtonClick()">Vis min lokasjon</button>