$toolbar-height: 64px;

.sebm-google-map-container {
  height: calc(100vh - #{$toolbar-height});
  &.showingParkingSpaceToolbar {
    height: calc(100vh - #{$toolbar-height} * 2);
  }
}
button {
  &.show-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 12px;
    z-index: 99;
  }
}

md-spinner {
  max-height: $toolbar-height - 6px;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
app-parking-space-toolbar {
  .filter-icon {
    margin-right: 10px;
  }
  .mat-icon-button {
    margin: 5px;
  }
  button {
    margin-right: 10px;
  }
}

md-sidenav {
  padding: 20px;
  .close-button {
    float: right;
    margin-bottom: 10px;
  }
  .trend-button {
    margin-top: 30px;
  }
}
