<app-parking-space-toolbar>
  <app-range-filter maxValue="100" minValue="0" (valueChanged)="freeSpacesFilterChanged($event)" title="Filtrer parkeringsplasser etter antall ledige plasser"></app-range-filter>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button md-raised-button color="secondary" *ngIf="!showingUserLocation" (click)="onShowMyLocationButtonClick()">Vis min lokasjon</button>
  <button md-raised-button color="secondary" *ngIf="showingUserLocation" (click)="onHideMyLocationButtonClick()">Fjern min lokasjon</button>
</app-parking-space-toolbar>
<sebm-google-map [latitude]="lat" [longitude]="lng" [(zoom)]="mapZoom" (zoomChange)="mapZoomChanged($event)">
  <gg-parking-space-info-circle *ngFor="let parkingSpace of parkingSpaces;trackBy: trackByIdAndOccupiedSpaces" [latitude]="parkingSpace.location.lat" [longitude]="parkingSpace.location.long" [occupiedSpaces]="parkingSpace.occupiedSpaces" [totalSpaces]="parkingSpace.totalSpaces" [parkingSpaceName]="parkingSpace.name" [parkingSpaceRadius]="parkingSpace.size" [infoWindowOpen]="showAllInfowindows">
  </gg-parking-space-info-circle>
  <sebm-google-map-marker *ngIf="userGeoLocation" [latitude]="userGeoLocation.lat" [longitude]="userGeoLocation.long">
    <sebm-google-map-info-window [isOpen]="true">Din omtrentlige plassering</sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>