<div class="clearfix">
  <h6>
    {{parkingSpace.name}}
  </h6>
  <hr>
  <md-spinner *ngIf="!parkingSpace"></md-spinner>
  <div *ngIf="parkingSpace" class="info-content">
    <div class="category-row">
      <span class="category-title">Beskrivelse:</span><span class="category-text">{{parkingSpace.description}}</span>
    </div>
    <div class="category-row">
      <span class="category-title">Plasser totalt:</span><span class="category-text">{{parkingSpace.totalSpaces}}</span>
    </div>
    <div class="category-row">
      <span class="category-title">Plasser opptatt:</span><span class="category-text">{{parkingSpace.occupiedSpaces}}</span>
    </div>
    <div class="category-row">
      <span class="category-title">Plasser ledig:</span><span class="category-text">{{parkingSpace.freeSpaces}}</span>
    </div>
    <div class="category-row">
      <span class="category-title">Timerate:</span><span class="category-text">{{parkingSpace.hourlyRate}}</span>
    </div>
  </div>
</div>